$def with (data)

<html>
<head>
	<title>Salman Reading Corner</title>
	<link rel="shortcut icon" type="image/png" href="/static/logox2.png"/>
	<link rel="stylesheet" type="text/css" href="/static/perpusstyle.css"/>
</head>

<body>

<div class="header"></div>

<div id="sidebar">
	<img src="/static/slc_logo.png">	
	<div id="menus">
		<a href="/topik"><div class="blockmenu "> Daftar Topik Islam </div></a>
		<a href="/tokohislam"><div class="blockmenu  "> Biografi Tokoh Islam</div></a>
		<a href="/umum"><div class="blockmenu active "> Daftar Topik Umum </div></a>
		<a href="/"><div class="blockmenu ">Daftar Buku</div></a>
	</div>

</div>

<img id="x" src="/static/x.png" onclick="hidemenu()">

<div id="topbar">
	<img id="logosmall" src="/static/src_logo_small.png" >	
	<input id="searchbox" type="text" style='display:block' placeholder="Search" onkeypress="search(event)">
	<img id="bread" src="/static/menu.png" onclick="displaymenu()" >
	
</div>


<!--Search Bar-->
<input type="text" class="search" onkeyup="search(this)">

<!--Panel -->
<div class="kpanel" id="kpnl" style="display:none">
	<div class="kpanel-title">
		<div id="k-title"></div>
		<div id="k-subtitle">Tugas Akhir</div>
	</div>
	<hr class="k-line">
	<div class="kpanel-content" id="k-con">
	</div>
	<hr class="k-line" style="margin-top:12px ">
	<input type="text" class="addtag" id="addtag_textbox" placeholder="Add Tag" onkeyup="searchtag(this)" ">

	<div class="searchtagresult_container" id="searchtagresult_containerID">
		<li class="searchtagresult"><h1>Petri Net</h1><h2>Buat Tag Baru</h2> </li>
	</div>
</div>



<div class='container' id='listofbook' >

<div id='listofbooks' >

	<a href="/searchjudul/fisika">
	<div class='itemlist'> <h5 id="judul">Fisika</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/kimia">
	<div class='itemlist'> <h5 id="judul">Kimia</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>


	<a href="/searchjudul/matematika|kalkulus">
	<div class='itemlist'> <h5 id="judul">Matematika</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/astronomi">
	<div class='itemlist'> <h5 id="judul">Astronomi</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>



	<a href="/searchjudul/bahasa arab|nahwu|sharaf|shorof">
	<div class='itemlist'> <h5 id="judul">Bahasa Arab</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/bahasa indonesia">
	<div class='itemlist'> <h5 id="judul">Bahasa Indonesia</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/bahasa inggris|toefl	">
	<div class='itemlist'> <h5 id="judul">Bahasa Inggris</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/bahasa jepang">
	<div class='itemlist'> <h5 id="judul">Bahasa Jepang</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/mandarin">
	<div class='itemlist'> <h5 id="judul">Bahasa Mandarin</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/sunda">
	<div class='itemlist'> <h5 id="judul">Bahasa Sunda</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/investasi">
	<div class='itemlist'> <h5 id="judul">Investasi</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/ekonomi syariah|bank|mudharabah|asuransi takaful|fiqih finansial">
	<div class='itemlist'> <h5 id="judul">Ekonomi</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/kesehatan">
	<div class='itemlist'> <h5 id="judul">Kesehatan</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/politik">
	<div class='itemlist'> <h5 id="judul">Politik</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/ilmu|pendidikan">
	<div class='itemlist'> <h5 id="judul">Pendidikan</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/soekarno | bung karno">
	<div class='itemlist'> <h5 id="judul">Soekarno</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/soeharto">
	<div class='itemlist'> <h5 id="judul">Soeharto</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/habibie">
	<div class='itemlist'> <h5 id="judul">B.J. Habibie</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/shalahuddin|saladin">
	<div class='itemlist'> <h5 id="judul">Shalahuddin Al Ayyubi</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/gengis khan">
	<div class='itemlist'> <h5 id="judul">Gengis Khan</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/cut nyak">
	<div class='itemlist'> <h5 id="judul">Cut Nyak Dien</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/diponegoro">
	<div class='itemlist'> <h5 id="judul">Diponegoro</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/pitung">
	<div class='itemlist'> <h5 id="judul">Si Pitung</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/bung tomo">
	<div class='itemlist'> <h5 id="judul">Bung Tomo</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/soedirman">
	<div class='itemlist'> <h5 id="judul">Jenderal Soedirman</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/al fatih">
	<div class='itemlist'> <h5 id="judul">Muhammad Al Fatih</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/ahmad yani">
	<div class='itemlist'> <h5 id="judul">Ahmad Yani</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

	<a href="/searchjudul/harun ar-rasyid">
	<div class='itemlist'> <h5 id="judul">Harun Ar-Rasyid</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>
	<a href="/searchjudul/tjokroaminoto">
	<div class='itemlist'> <h5 id="judul">H.O.S Tjokroaminoto</h5> 
		<h4 id="penulis"></h4> 
	</div>
	</a>

</div>

</div>
<div id='ontology_view' style='z-index: 20' >
	<div id="ontology_cover"></div>
	<img id="backbutton" src="/static/close.png" onclick="hideOntology()" >
	<div id='wikititle'>
		<div class='pagegroup' id="ontology_class"><a href="/">Tugas Akhir</a></div>
		<h1 class='pagetitle' id="ontology_title"></h1>
	</div>
	<div id='wikitext'>
	<p><strong>Penulis</strong></p>
	<div class='indent' id="penulis"></div>
	<p><strong>Pembimbing</strong></p>
	<div class='indent'><a class='wikilink' href='http://localhost/r/Main/WindyGambetta' id="pem1"></a></div>
	<div class='indent'><a class='wikilink' href='http://localhost/r/Main/WindyGambetta' id="pem2"></a></div>
	<p><strong>Kode Buku</strong></p>
	<div class='indent' id="kode"></div>
	<div class='vspace'></div>
	</div>
</div>









</body>
</html>


<script>
var previousNode = 4225;
var currentNode = 1;

//Shortcut Functionality
//Ctrl + . = New node
//Only work for main namespace :(
document.onkeyup = function(e) {
 	if (e.ctrlKey && e.which == 188) {
		showList()
		hideOntology()
		console.log("aaa")
	}
};


function displaymenu(){
	var node = document.getElementById("sidebar")
	node.style.display = "block"
	var node = document.getElementById("x")
	node.style.display = "block"
}
	

function hidemenu(){
	var node = document.getElementById("sidebar")
	node.style.display = "none"
	var node = document.getElementById("x")
	node.style.display = "none"
}




//Filter list of item, based on search query
function filter(x){
	var nodeList = document.getElementsByClassName("itemlist");
	for (i = 0 ; i <nodeList.length;i++){
		document.getElementById(nodeList[i].id).style.display = "none";
		title = nodeList[i].textContent;
		title = title.toLowerCase();
		x = x.toLowerCase();
		if (title.indexOf(x) !== -1){
			console.log(title);
			console.log(nodeList[i].id)
			document.getElementById(nodeList[i].id).style.display = "block";
		}
	}
}

//When enter pressed, search..
function search(ele){
	if(event.key === 'Enter'){
		var node = document.getElementById("searchbox")
		console.log(node.value)
		window.location = "/search/"+node.value
		//filter(ele.value);
	}
}

function moveIt(q){
	window.location = "/search/"+ q
}



function hideSearchTagResult(){
	var node = document.getElementById("searchtagresult_containerID");
	node.style.display = "none";
	node.innerHTML = '';
}

function showSearchTagResult(){
	var node = document.getElementById("searchtagresult_containerID");
	node.style.display = "block";
}

function connectNodeTag(nodeTagID){
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200){
			console.log(this.responseText.trim())
			getinfo(currentNode)
		}
	}
	uristring = 'service.php?command=connect&nodebook=' + currentNode +'&nodetag='+nodeTagID;
	xhttp.open("GET",uristring,true);
	xhttp.send();

}

function addnewtag(tagname){
	console.log(tagname)
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200){
			nodeTagID = this.responseText.trim()
			console.log(nodeTagID)
			connectNodeTag(nodeTagID)
		}
	}
	uristring = 'service.php?command=add_new_node_tag&nodetag=' + tagname;
	xhttp.open("GET",uristring,true);
	xhttp.send();
}


function searchtag(ele){
	console.log(ele.value);
	console.log(ele.value.length)
	if (ele.value.length == 0){
		hideSearchTagResult()
	}
	else{
			var tagname = ele.value;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200){
			console.log("we got"+this.responseText)
			if(this.responseText.trim() == "n"){
				console.log("Failed!")

			var str1 = "<li class='searchtagresult' onclick='addnewtag(\""+tagname.trim()+"\")'> <h1>"+tagname+"</h1><h2>Buat Tag Baru</h2></li>"
			let frag = document.createRange().createContextualFragment(str1);
			var node = document.getElementById("searchtagresult_containerID");
			node.innerHTML = '';
			node.appendChild(frag);
			showSearchTagResult()
			}
			else{
				console.log("lol!")
				var searchedTags = JSON.parse(this.responseText);
				var tags = searchedTags.tags;
				var str1 = "";
				for(i=0;i<tags.length ; i++){
					str1 += "<li class='searchtagresult' onclick='connectNodeTag("+tags[i].id+")'> <h1>"+tags[i].name+"</h1><h2></h2></li>"
					console.log(str1)
				}
				str1 += "<li class='searchtagresult' onclick='addnewtag(\""+tagname.trim()+"\")'> <h1>"+tagname+"</h1><h2>Buat Tag Baru</h2></li>"
				let frag = document.createRange().createContextualFragment(str1);

				var node = document.getElementById("searchtagresult_containerID");
				node.innerHTML = '';
				node.appendChild(frag);
				showSearchTagResult()	


			}
		}
	}
	uristring = 'service.php?command=search_tag&nodetag=' + tagname;
	xhttp.open("GET",uristring,true);
	xhttp.send();

	}
}


function hideList(){
	var node = document.getElementById("listofbooks")
}

function showOntology(){
	var node = document.getElementById("ontology_view")
	node.style.zIndex = "99"
	var node = document.getElementById("ontology_cover")
	node.style.display = "none"
}



function showList(){
	var node = document.getElementById("listofbooks")

}




function hideOntology(){
	var node = document.getElementById("ontology_view")
	node.style.zIndex = "1"
	var node = document.getElementById("ontology_cover")
	node.style.display = "block"
}



//Get node full detail by requesting via AJAX
function getinfo(id){
	hideList()

	console.log(id)
	var nodejudul = document.getElementById("judul_"+id)
	var nodepenulis = document.getElementById("penulis_"+id)
	var nodepembimbing = document.getElementsByClassName("pembimbing_"+id)
	for (i=0;i<nodepembimbing.length; ++i){
		console.log(nodepembimbing[i].innerHTML)
	}
	console.log(nodejudul.innerHTML)
	console.log(nodepenulis.innerHTML)


	var target_judul = document.getElementById("ontology_title")
	target_judul.innerHTML = nodejudul.innerHTML
	var target_penulis = document.getElementById("penulis")
	target_penulis.innerHTML = nodepenulis.innerHTML
	var  target_kode = document.getElementById("kode")
	target_kode.innerHTML = id
	var target_pembimbing = document.getElementById("pem1")
	target_pembimbing.style.display = "none"
	var target_pembimbing = document.getElementById("pem2")
	target_pembimbing.style.display = "none"
	for (i=0;i<nodepembimbing.length; ++i){
		console.log(nodepembimbing[i].innerHTML)
		var counter = i + 1
		var target_pembimbing = document.getElementById("pem"+counter)
		target_pembimbing.innerHTML= nodepembimbing[i].innerHTML
		target_pembimbing.style.display = "block"
	}
		showOntology()

}


//Connect node to node_tag
function ontologyconnect(ele){
	console.log(currentNode)
	console.log(document.getElementById("addtag_textbox").value)
	node = currentNode;
	nodetag = document.getElementById("addtag_textbox").value;
	var xhttp = new XMLHttpRequest();
	uristring = 'service.php?command=add_new_node_tag&nodetag=' +nodetag ;
	xhttp.open("GET",uristring,true);
	xhttp.send();

	xhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200){
			console.log(this.responseText)
			if(this.responseText = 'n'){
				console.log("nope!")

			}
		}
	}









}









	</script>